<%# app/views/posts/new.html.erb %>
<div class="max-w-4xl mx-auto py-12 px-4">
  <div class="mb-8">
    <h1 class="flex items-center gap-x-3 text-2xl font-black tracking-tighter text-gray-900">
      <i data-lucide="plus-circle" class="w-6 h-6 text-indigo-600"></i>
      Criar Novo Conteúdo
    </h1>
    <p class="text-sm font-medium text-gray-500">Compartilhe seu conhecimento com o mundo.</p>
  </div>

  <%= render "form", post: @post %>
</div>