<div class="py-12 sm:py-16"> <div class="mx-auto max-w-7xl px-6 lg:px-8">
    
    <div class="mx-auto max-w-2xl text-center mb-16">
      <h2 class="text-4xl font-black tracking-tight text-gray-900 sm:text-6xl">Meu Blog</h2>
      <p class="mt-4 text-lg leading-8 text-gray-600">Conteúdos, vídeos e notas sobre tecnologia e vida.</p>
    </div>

    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-12 lg:mx-0 lg:max-w-none lg:grid-cols-3">
       <%= render @posts %>
    </div>
    
  </div>
</div>